.modal-page {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0, 0.7);
    z-index: 100;
    top: 0;
    left: 0;
}


.modal-panel {
    width: 600px;
    min-height: 300px;
    position: absolute;
    top: 100px;
    left: calc(50% - 310px);
    padding: 20px;
    background: #ffffff;
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transform: translateY(-100%);
    opacity: 0;
    transition: 0.3s;
}

.modal-page.open .modal-panel {
    transform: translateY(0);
    opacity: 1;
}


.modal-panel .closePopUp {
    position: absolute;right: 10px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
}

.modal-panel .closePopUp:hover i {
    color: #999;
}


.days-column {
    display: flex;
    position: relative;
}

.days-column .la {
    font-size: 25px;
    transform: translateY(32px);
}

.days-column .day-slots {
    padding: 5px;
    margin: 3px;
    border: 1px solid #7559ad;
    width: calc(100%/7 - 5px);
}

.days-column .day-month {
    text-align: center;
    font-size: 12px;
}

.days-column .day-date {
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.days-column .day-date.current {
    color: red;
}

.days-column .day-name {
font-size: 12px;
    text-align: center;
}

.days-column .dates {
    display: flex;
    width: 100%;
}
