:root {
    --error-color: #e24679;
    --error-color-b: #f1ecee;
    --success-color: green;
    --success-color-b: #eff9ef;
}

.panel {background: #ffffff; border: 1px solid #cccc; padding: 30px; margin: 0 auto; font-size: 16px; border-radius: 4px}
.ps {width: 400px; padding: 30px}
.pm {width: 500px; padding: 50px}
.pl {width: calc(100% - 100px)}
.row {margin-top: 20px}
.row label {display: block; font-weight: bold; margin-bottom: 10px}
.row input {display: block; width: calc(100% - 20px); padding: 10px; height: 30px; background: #ffffff; transition: .5s; border: 1px solid var(--main-color); border-radius: 5px; outline: none !important;}
.row input:focus {background: #fafcff
}
.row .submit {background: var(--main-color); color: #ffffff; padding: 10px; display: inline-block; border-radius: 3px; cursor: pointer; transition: 0.3s}
.row .submit:hover {opacity: 0.8}
.error input {border: 1px solid var(--error-color); color: var(--error-color) !important; background: var(--error-color-b) !important;}
.error .message {color: var(--error-color)}
.error-message {color: var(--error-color); font-weight: bold;  margin: 3px 0 0 10px; font-size: 14px;}
.ok input {border: 1px solid var(--success-color); color: var(--success-color); background: #eff9ef
}
.ok { position: relative; transition: 0.3s}
.ok:after {
    content: '';
    display: block;
    width: 10px;
    height: 5px;
    border-bottom: 2px solid var(--success-color);;
    border-left: 3px solid var(--success-color);;
    right: 10px;
    top: 50px;
    transform: rotate(-45deg);
    position: absolute;
}

.panel a, .panel .link {
    text-decoration: none;
    color: var(--main-color);
}
.panel a:hover, .panel .link:hover {
    color: #000;
    font-weight: bold;
    text-decoration: underline !important;
}
