:root {

}
.dashboard {
    margin-top: 50px;
    display: flex;
}

.dashboard-content {
    background: #ffffff;
    width: calc(100% - 270px);
    margin-left: 20px;
    padding: 0 20px 20px 20px;
}

.user-menu {
    width: 200px;
    background: #ffffff;
    padding: 20px;
}

.user-menu a {
    display: block;
    color: var(--main-color);
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    transition: .3s;
}

.user-menu a:hover {
    background: #f1f1f1;
}
